*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #D3D3D3;
}

.logo{
    background: white;
    display: inline-block;
    width: 100%;
    margin-top: 2px;
    
}

.title{
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

#container-nav {
    background-color: white;
    height: 50px;
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%; 
    border-radius: 5px;  
    
}

.add-task{
    background-color: #1E90FF;
    display: inline-block;
    font-size: 10px;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align: center;
    color: white;
    width: 100px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 10px;
    

}

.add-section{
    background-color: white;
    border: gray solid 1px;
    display: inline-block;
    font-size: 10px;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align: center;
    color: gray;
    width: 100px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}

#container-main{
    background-color: white;
    height: 600px;
    margin-top: 2px;
    margin-left: 25%;
    margin-right: 25%; 
    border-radius: 5px;  
}

ul {
    list-style-type: none;
    }

.new-task {
    display: inline-block;
    font-size: 20px;
    font-family: 'Zen Maru Gothic', sans-serif;
    margin-left: 30px;
    margin-right: 30px; 
    margin-top: 30px;
}

.editorial{
    background-color: #1E90FF;
    display: inline-block;
    font-size: 10px;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align: center;
    color: white;
    width: 70px;
    height: 20px;
    padding-bottom: 5px;
    border-radius: 20px;
}

.today{
        font-size: 20px;
        font-family: 'Zen Maru Gothic', sans-serif;
        margin-left: 30px;
        margin-right: 30px; 
        margin-top: 30px;
    }

.upcoming{
    display: inline-block;
    font-size: 20px;
    font-family: 'Zen Maru Gothic', sans-serif;
    margin-left: 30px;
    margin-right: 30px; 
    margin-top: 30px;
}

.goals{
    background-color: #9932CC;
    display: inline-block;
    font-size: 10px;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align: center;
    color: white;
    width: 70px;
    height: 20px;
    padding-bottom: 5px;
    border-radius: 20px;
}

.recruiting{
    background-color: #3CB371;
    display: inline-block;
    font-size: 10px;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align: center;
    color: white;
    width: 70px;
    height: 20px;
    padding-bottom: 5px;
    border-radius: 20px;
}

.mobile{
    background-color: #FFA07A;
    display: inline-block;
    font-size: 10px;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align: center;
    color: white;
    width: 70px;
    height: 20px;
    padding-bottom: 5px;
    border-radius: 20px;

}

.website{
    background-color: #FFB6C1;
    display: inline-block;
    font-size: 10px;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align: center;
    color: white;
    width: 70px;
    height: 20px;
    padding-bottom: 5px;
    border-radius: 20px;
}

.sales{
    background-color: #9ACD32;
    display: inline-block;
    font-size: 10px;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align: center;
    color: white;
    width: 70px;
    height: 20px;
    padding-bottom: 5px;
    border-radius: 20px;
}

.cross{
    color: red;
    font-size: 15px;
    border: 1px solid red;
    border-radius: 50%;
    padding: 1px;
}

.check{
    color: green;
    font-size: 15px;
    border: 1px solid green;
    border-radius: 50%;
    padding: 1px;
    font-weight: bold;
}